[submodule "books/laravelapi_basic"]
	path = books/laravelapi_basic
	url = https://github.com/lec-cafe/books_laravelapi_basic
[submodule "books/github_basic"]
	path = books/github_basic
	url = https://github.com/lec-cafe/books_github_basic
[submodule "books/laravelapi_practice"]
	path = books/laravelapi_practice
	url = https://github.com/lec-cafe/books_laravelapi_practice
[submodule "books/nuxtjs_practice"]
	path = books/nuxtjs_practice
	url = https://github.com/lec-cafe/books_nuxtjs_practice
